* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.search-panel {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searcher {
    width: 50%;
    background-color: #cbd5e1;
    border-radius: 10px;
    padding-left: 10px;
}

.user-panel {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.small-icon {
    height: 60px;
    border-radius: 50%;
}

.user-id {
    font-weight: bold;
}

.welcome-panel {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.big-icon {
    height: 120px;
    border-radius: 50%;
    grid-area: 1 / 1 / 3 / 2;
}

.welcome-text {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: bold;
}

.welcome-user {
    grid-area: 2 / 2 / 3 / 3; 
    font-weight: bold;
}

.buttons-list {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.buttons-list li {
    background-color: #c084fc;
    padding: 5px 30px;
    border-radius: 15px;
    font-weight: bold;
}